.form {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5rem 0;
}
.form-content {
  display: flex;
  flex-direction: column;
  background-color: var(--light-green);
  width: 500px;
  padding: 2rem 4rem;
  border-radius: 10px;
  border: 2px solid var(--pink);
}
.form-content label {
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 400;
}
.form-content input {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  border: 2px solid var(--pink);
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.form-content input::placeholder {
  font-size: 0.9rem;
  font-weight: 300;
}
.form-content input:focus {
  border-color: var(--medium-green);
}
.form-content button {
  margin-top: 1rem;
}