* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  all: unset;
}

:root {
  --medium-green: #60D394;
  --light-green: #AAF683;
  --medium-orange: #F79D69;
  --light-orange: #FFD97D;
  --light-light-orange: #f8dd9e;
  --orange: #f9cc64;
  --pink: #FF9B85;
}

.m-0 {
  margin: 0 0 1rem 0 !important;
}

.m-2 {
  margin: 2rem !important;
}

.btn {
  display: flex;
  border: 2px solid;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  background-color: var(--medium-green);
  border-color: var(--pink);
  color: black;
  width: 200px;
}

.btn:hover {
  opacity: 0.8;
}

body {
  background-color: var(--orange);
}

.header {
  background-color: var(--medium-green);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.header-pd-1 {
  padding: 1rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.information {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.information div {
  border: 2px solid;
  background-color: floralwhite;
  padding: 0.5rem;
}

.information .success {
  border-color: green;
  color: green;
}

.information .error {
  border-color: red;
  color: red;
}

.submit-content {
  display: flex;
  justify-content: center;
}

.space {
  display: block;
  width: 800px;
  height: 1rem;
  background-color: var(--orange);
  margin-left: -5rem;
  margin: 1rem 0;
}