.header img {
  max-width: 200px;
  margin-top: 1rem;
}
.login-container {
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 200px;
  margin-top: 10rem;
  border-radius: 10px;
  border: 2px solid var(--pink);
  gap: 1rem;
}

.main-index {
  background-color: var(--orange);
  gap: 1rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.create-post-container {
  background-color: var(--light-orange);
  border-radius: 10px;
  width: 600px;
}
.form-create-post {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
}
.form-create-post textarea {
  background-color: var(--light-light-orange);
  padding: 0.5rem;
  border-radius: 10px;
  word-wrap: break-word;
  border: 2px solid transparent;
  font-size: 1.2rem;
}
.form-create-post textarea:focus {
  border-color: var(--pink);
}
.btn-create-post {
  width: 100%;
  background-color: var(--light-green);
  border-color: var(--pink);
}
.posts-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 1rem;
}
.post-content {
  background-color: var(--light-orange);
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.post-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.user {
  display: flex;
}
.post-info .user::before {
  content: "";
  display: block;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7c/User_font_awesome.svg');
  background-size: contain;
  width: 20px;
  height: 20px;
  filter: invert(83%) sepia(4%) saturate(5195%) hue-rotate(92deg) brightness(89%) contrast(90%);
}
.post-info p {
  margin-right: 10px;
}
.post-text {
  border: 2px solid var(--light-light-orange);
  padding: 0.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.post-text input, .comment-content input {
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  border: 2px solid transparent;
}
.post-text input:focus, .comment-content input:focus {
  background-color: var(--light-light-orange);
  border: 2px solid var(--pink);
}
.interactions {
  display: flex;
  justify-content: space-between;
  padding: 0 0.6rem;
  font-size: 0.8rem;
}
.btn-interactions {
  border: 1px solid;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  text-decoration: underline;
  color: black;
  border-radius: 5px;
}
.interactions .edit:hover {
  background-color: rgb(246, 232, 109);
  border-color: rgb(255, 193, 21);
}
.interactions .delete:hover {
  background-color: rgb(231, 69, 69);
  border-color: red;
}
.comments-container h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
.post-comments {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}
.post-comments textarea {
  background-color: var(--light-light-orange);
  padding: 0.5rem;
  border-radius: 10px;
  word-wrap: break-word;
  border: 2px solid transparent;
  max-height: 50px;
  width: 80%;
  font-size: 0.9rem;
}
.post-comments textarea:focus {
  border-color: var(--pink);
}
.btn-submit-comment {
  text-align: center;
  background-color: var(--light-green);
  border: 2px solid var(--pink);
  cursor: pointer;
  font-size: 0.9rem;
  width: 100px;
}
.comments-content {
  padding: 0 2rem;
}
.comment-content {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  background-color: var(--light-light-orange);
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
}
.comment-content span {
  font-weight: 500;
}
.user-comment {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.user-comment::before {
  content: "";
  display: block;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/7/7c/User_font_awesome.svg');
  background-size: contain;
  width: 15px;
  height: 15px;
  filter: invert(59%) sepia(84%) saturate(346%) hue-rotate(331deg) brightness(103%) contrast(94%);
}
.comment-content input {
  margin: 0 0 0.5rem 1rem;
  width: 94%;
}
.comment-content .interactions {
  padding: 0 1.5rem;
}
